# Ignore cache folder with pickle files
cache/

# Ignore Python virtual environment
.venv/
venv/
env/

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore OS files
.DS_Store
Thumbs.db

crossover_candidates/
ema_crossover_charts/
ema_crossover_candidates/
research/
stock_cache/
moving_average.py
seek_moving_average.py
try.py
phd/