<!DOCTYPE html>
<html>
<head>
  <title>Phat Portfolio Visualizer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='Phat.png') }}">
  <!-- External Libraries -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://cdn.plot.ly/plotly-2.35.2.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1>Portfolio Visualizer</h1>
    <a href="https://phdiep2003.github.io/phat.diep/" target="_blank" rel="noopener noreferrer">
      <h1 id="logo">by Phat (Henry) Diep</h1>
    </a>
  </header>
  <main>
    {% include 'form.html' %}
    {% include 'results.html' %}
  </main>
  <footer>
      <p>&copy; 2025 Phat Diep. All rights reserved.</p>
      <div class="contact-info">
      Contact: <a href="mailto:hungphatdiep03.@gmail.com">hungphatdiep03@gmail.com</a> | +974-3063-6181
      </div>
  </footer>

    <!-- jQuery and jQuery UI -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

  <!-- Your custom JS -->
  <script src="{{ url_for('static', filename='main.js') }}"></script>

</body>
</html>
